<mat-toolbar>
    <span>My BankingApp</span>
    <span class="example-spacer"></span>
    <div (click)="accounts()" class="btn-style">Accounts</div>
    <div (click)="emiCalculator()" class="btn-style"> EMI calculator</div>
    <div style="margin-left: 10px;">Gangadhar jawali</div>
    <button (click)="logout()" mat-icon-button class="example-icon"
        aria-label="Example icon-button
        with share icon">
        <mat-icon>login</mat-icon>
    </button>
</mat-toolbar>

