.example-spacer {
    flex: 1 1 auto;
  }

  .btn-style{
      margin: 5px;
      padding-right: 6px;
      padding-left: 6px;
      border-radius: 4px;
      cursor: pointer;
      font-size: medium;
      border: 0.050em solid #ccc;
  }