<div style="margin: 21%;">
    <mat-card style="max-width: 588px;">
        <mat-card-title>Login</mat-card-title>
        <br>
        <form [formGroup]="loginForm">

            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Email or Phone number</mat-label>
                <input matInput placeholder="Email or Phone number"
                    formControlName="username" required autocomplete="off">
                <mat-error *ngIf="username.invalid">
                    Please enter Username
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password"
                    formControlName="password" required autocomplete="off">
                <mat-error *ngIf="password.invalid">
                    Please enter Password
                </mat-error>
            </mat-form-field>

            <button class="w-full" mat-raised-button color="primary"
                [disabled]="loginForm.invalid"
                (click)="login()">Login</button>
        </form>
    </mat-card>
</div>