
<div class="row">
    <div class="col-12">
        <h2>Deposit!</h2>
    </div>
</div>
<hr>
<div>
    <form [formGroup]="depositForm">
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Enter ammount</mat-label>
                    <input matInput placeholder="Enter ammount"
                        type="text" (keypress)="only_numbers($event)"
                        maxlength="8"
                        formControlName="ammount" required autocomplete="off">
                    <mat-error *ngIf="depositForm.get('ammount').invalid">
                        Please enter ammount to deposit
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Description</mat-label>
                    <input matInput placeholder="Description"
                        type="text"
                        (keypress)="discard_special_char($event)" maxlength="40"
                        formControlName="description" required
                        autocomplete="off">
                    <mat-error *ngIf="depositForm.get('description').invalid">
                        Please enter description
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Reference</mat-label>
                    <input matInput placeholder="Reference"
                        type="text"
                        (keypress)="discard_special_char($event)" maxlength="40"
                        formControlName="reference"
                        autocomplete="off">
                </mat-form-field>
            </div>
        </div>
        <hr>
        <button class="w-full alignright" mat-raised-button color="primary"
            [disabled]="depositForm.invalid"
            (click)="deposit()">Deposit</button>

        <button class="w-full alignright" style="margin-right: 10px;"
            mat-raised-button color="primary"
            (click)="onClickCancel()">Cancel</button>
    </form>
</div>