.auth-container {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding: 16px;
    background-color: #212121;
    background-size: 60px 60px;
  }
  