
<div class="row">
    <div class="col-12">
        <h2>Create new account!</h2>
    </div>
</div>
<hr>
<div>
    <form [formGroup]="accountForm">
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Bank name</mat-label>
                    <input matInput placeholder="Bank name"
                        type="text"
                        (keypress)="discard_special_char($event)" maxlength="40"
                        formControlName="bankName" required autocomplete="off">
                    <mat-error *ngIf="accountForm.get('bankName').invalid">
                        Please enter Bank name
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Branch name</mat-label>
                    <input matInput placeholder="Branch name"
                        type="text"
                        (keypress)="discard_special_char($event)" maxlength="40"
                        formControlName="branch" required autocomplete="off">
                    <mat-error *ngIf="accountForm.get('branch').invalid">
                        Please enter Branch name
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Account holder name</mat-label>
                    <input matInput placeholder="Account holder name"
                        type="text"
                        (keypress)="discard_special_char($event)" maxlength="15"
                        formControlName="accountHolderName" required
                        autocomplete="off">
                    <mat-error
                        *ngIf="accountForm.get('accountHolderName').invalid">
                        Please enter Account holder name
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Account number</mat-label>
                    <input matInput placeholder="Account number"
                        type="text" (keypress)="only_numbers($event)"
                        maxlength="15"
                        formControlName="accountNumber" required
                        autocomplete="off">
                    <mat-error *ngIf="accountForm.get('accountNumber').invalid">
                        Please enter Account number
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Account type</mat-label>
                    <mat-select placeholder="Account type"
                        formControlName="accountType"
                        required>
                        <mat-option *ngFor="let type of accountTypes"
                            [value]="type.value">
                            {{ type.value }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="accountForm.get('accountType').invalid">
                        Please select account type
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Bank code</mat-label>
                    <mat-select placeholder="Bank code"
                        formControlName="bankCode"
                        required>
                        <mat-option *ngFor="let code of branchCodes"
                            [value]="code.value">
                            {{ code.value }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="accountForm.get('bankCode').invalid">
                        Please select Bank code
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <hr>

        <button class="w-full alignright" mat-raised-button color="primary"
            [disabled]="accountForm.invalid"
            (click)="createAccout()">Create</button>

        <button class="w-full alignright" style="margin-right: 10px;"
            mat-raised-button color="primary"
            (click)="onClickCancel()">Cancel</button>
    </form>
</div>