/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  

  .customers td, #customers th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .customers tr:hover {background-color: #ddd;}
  
  .customers th {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    border: 1px solid rgb(172, 172, 172);
    //text-align: center;
    background-color: rgb(206, 209, 206);
    //color: white;
  }



.alignleft {
    float: left;
    margin-bottom: 6px;
}
.alignright {
	float: right;
}

.hr-line{
  width: 100%;
  height: 1px;
  background-color: rgba($color: #faf5f5, $alpha: 0.5);
}