.customers1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  

  .customers1 td, #customers1 th {
    border: 1px solid black;
    padding: 5px;
  }
  
  .customers1 tr:nth-child(even){background-color:  rgb(80, 102, 107)}
  
  .customers1 tr:hover {background-color: rgb(24, 31, 32);}
  
  .customers1 th {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    border: 1px solid black;
    //text-align: center;
    background-color: #387086;;
    //color: white;
  }