
<div class="row">
    <div class="col-6">
        <h3>Account Transactions!</h3>
    </div>
    <div class="col-6">
        <h3 class="alignright" *ngIf="transactions.length > 0">Available Balance : {{transactions[0].balance }}</h3>
    </div>
</div>


<div class="hr-line"></div>
<table class="customers1">
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Reference</th>
        <th>Withdrawal</th>
        <th>Deposit</th>
        <th>Balance</th>
    </tr>
    <tr *ngFor="let data of transactions">
        <td>{{data.transactionDate | date:'medium'}}</td>
        <td>{{data.description}}</td>
        <td>{{data.reference}}</td>
        <td>{{data.withdrawal}}</td>
        <td>{{data.deposit}}</td>
        <td>{{data.balance}}</td>
    </tr>
</table>