<!-- 
<div class="container">
    <div class="col-l-12">
        <h2>Instant Loan EMI Calculator</h2>
    </div>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Loan Amount: ₹</mat-label>
        <input matInput placeholder="Loan Amount: ₹" type="number"
            [(ngModel)]="loanAmount"
            (input)="updateSliderMax('LoanAmount')" min="1" required
            autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Interest Rate: %</mat-label>
        <input matInput placeholder="Interest Rate: %" type="number"
            [(ngModel)]="intRate"
            (input)="updateSliderMax('InterestRate')"
            (intRateEmit)=Emit($event); step="0.01" min="1" required
            autocomplete="off">
    </mat-form-field>



    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Loan Amount: ₹</mat-label>
        <input matInput placeholder="Loan Amount: ₹" type="number"
            [(ngModel)]="loanAmount"
            (input)="updateSliderMax('LoanAmount')" min="1" required
            autocomplete="off">
    </mat-form-field>
</div>





<section class="col-l-12">
    <div class="col-l-10">
        <div class="col-l-12">
            <h2>Instant Loan EMI Calculator</h2>
        </div>
        <div class="col-l-12">
            <div>
                <div class="col-l-12">
                    <label>Loan Amount: ₹ </label>
                    <input type="number" placeholder="Loan
                        Amount" name="loanAmount" [(ngModel)]="loanAmount"
                        (input)="updateSliderMax('LoanAmount')" min="1">
                </div>
                <div class="col-l-12">
                    <mat-slider
                        [disabled]="slider.disabled"
                        [invert]="slider.invert"
                        [max]="loanAmtMax"
                        [min]="slider.min"
                        [step]="slider.step"
                        [thumbLabel]="slider.thumbLabel"
                        [tickInterval]="0"
                        [(ngModel)]="loanAmount"
                        [vertical]="slider.vertical"
                        (click)="updateSliderMax('LoanAmount');">
                    </mat-slider>
                </div>

                <div class="col-l-12">
                    <label>Interest Rate: % </label>
                    <input type="number" placeholder="Interest
                        Rate" name="intRate" [(ngModel)]="intRate"
                        (input)="updateSliderMax('InterestRate')"
                        (intRateEmit)=Emit($event); step="0.01" min="1">
                </div>
                <div class="col-l-12">
                    <mat-slider
                        [disabled]="slider.disabled"
                        [invert]="slider.invert"
                        [max]="intRateMax"
                        [min]="slider.min"
                        [step]="0.1"
                        [thumbLabel]="slider.thumbLabel"
                        [tickInterval]="0"
                        [(ngModel)]="intRate"
                        [vertical]="slider.vertical"
                        (click)="updateSliderMax('InterestRate');">
                    </mat-slider>
                </div>

                <div class="col-l-12">
                    <label>Loan Duration: </label>
                    <input type="number"
                        placeholder="Duration" name="loanDuration"
                        [(ngModel)]="loanDuration"
                        (input)="updateSliderMax('LoanDuration')" min="1"
                        appSection>
                    <label class="padding-left-10">Months</label>
                </div>
                <div class="col-l-12">
                    <mat-slider
                        class="example-margin"
                        [disabled]="slider.disabled"
                        [invert]="slider.invert"
                        [max]="loanDurMax"
                        [min]="slider.min"
                        [step]="slider.step"
                        [thumbLabel]="slider.thumbLabel"
                        [tickInterval]="0"
                        [(ngModel)]="loanDuration"
                        [vertical]="slider.vertical"
                        (click)="updateSliderMax('LoanDuration');">
                    </mat-slider>
                </div>
            </div>
            <div>
                <div class="col-l-12">
                    <div>Monthly Payment(EMI): ₹
                        <span *ngIf="emi;else other_content">{{emi}}</span>
                        <ng-template #other_content>0</ng-template>
                    </div>
                </div>
                <div class="col-l-12">
                    <div>Total Interest Payable: ₹
                        <span *ngIf="totalInterest;else other_content">{{totalInterest}}</span>
                        <ng-template #other_content>0</ng-template>
                    </div>
                </div>
                <div class="col-l-12">
                    <div>Total Amount (Principal + Interest): ₹
                        <span *ngIf="totalPayment;else other_content">{{totalPayment}}</span>
                        <ng-template #other_content>0</ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->




<mat-card style="margin : 5% 30% 0% 30%">
    <div class="row">
        <div class="col-12">
            <h2>Instant Loan EMI Calculator!</h2>
        </div>
    </div>
    <hr>

    <div>
        <form [formGroup]="loanForm">
            <div class="row">

                <div class="col-1">
                </div>
                <div class="col-10">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Loan Amount: ₹</mat-label>
                        <input matInput placeholder="Loan Amount: ₹"
                            type="text" (keypress)="only_numbers($event)"
                            maxlength="6"
                            (input)="updateSliderMax('LoanAmount')"
                            formControlName="ammount" required
                            autocomplete="off">
                        <mat-error *ngIf="loanForm.get('ammount').invalid">
                            Please enter Loan Amount
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-1">
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Interest Rate: %</mat-label>
                        <input matInput placeholder="Interest Rate: %"
                            type="text"
                            (input)="updateSliderMax('InterestRate')"
                            (keypress)="only_numbers($event)" maxlength="2"
                            formControlName="interest" required
                            autocomplete="off">
                        <mat-error
                            *ngIf="loanForm.get('interest').invalid">
                            Please enter Interest Rate
                        </mat-error>
                    </mat-form-field>
                </div> <div class="col-1">
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-10">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Loan Duration</mat-label>
                        <input matInput placeholder="Loan Duration"
                            type="text"
                            (input)="updateSliderMax('LoanDuration')"
                            (keypress)="only_numbers($event)" maxlength="2"
                            formControlName="duration"
                            autocomplete="off" required>
                        <mat-error
                            *ngIf="loanForm.get('duration').invalid">
                            Please enter description
                        </mat-error>
                    </mat-form-field>
                </div> <div class="col-1">
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div>Monthly Payment(EMI): ₹
                <span *ngIf="emi;else other_content">{{emi}}</span>
                <ng-template #other_content>0</ng-template>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div>Total Interest Payable: ₹
                <span *ngIf="totalInterest;else other_content">{{totalInterest}}</span>
                <ng-template #other_content>0</ng-template>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div>Principal Ammount: ₹
                <span *ngIf="totalPayment;else other_content">{{loanForm.get('ammount').value}}</span>
                <ng-template #other_content>0</ng-template>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div>Total Amount (Principal + Interest): ₹
                <span *ngIf="totalPayment;else other_content">{{totalPayment}}</span>
                <ng-template #other_content>0</ng-template>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</mat-card>
