<div class="container" *ngIf="profileData != null">
    <div class="row">
        <!-- code start -->
        <div class="twPc-div">
            <a class="twPc-bg twPc-block"></a>

            <div>
                <div class="twPc-button">
                </div>

                <a title="{{profileData.userAccount.name}}"
                    class="twPc-avatarLink">
                    <img alt="{{profileData.userAccount.name}}"
                        src="https://mertskaplan.com/wp-content/plugins/msk-twprofilecard/img/mertskaplan.jpg"
                        class="twPc-avatarImg">
                </a>


                <div class="twPc-divUser">
                    <div class="twPc-divName">
                        <a style="margin-left: 10px;">{{profileData.userAccount.name}}</a>
                    </div>
                </div>


                <div class="twPc-divStats">

                    <div class="row" style="color: black; margin-top: 4%;">
                        <div class="col-3">
                            Account holder Name
                        </div>
                        <div class="col-1">
                            :
                        </div>
                        <div class="col-8">
                            {{profileData.userAccount.name}}
                        </div>
                    </div>
                    <div class="row" style="color: black; margin-top: 1%;">
                        <div class="col-3">
                            Account number
                        </div>
                        <div class="col-1">
                            :
                        </div>
                        <div class="col-3">
                            {{profileData.accountNumber}}
                        </div>
                    </div>
                    <div class="row" style="color: black; margin-top: 1%;">
                        <div class="col-3">
                            Bank name
                        </div>
                        <div class="col-1">
                            :
                        </div>
                        <div class="col-3">
                            {{profileData.bankName}}
                        </div>
                    </div>

                    <div class="row" style="color: black; margin-top: 1%;">
                        <div class="col-3">
                            Branch name
                        </div>
                        <div class="col-1">
                            :
                        </div>
                        <div class="col-8">
                            {{profileData.branch}}
                        </div>
                    </div>

                    <div class="row" style="color: black; margin-top: 1%;">
                        <div class="col-3">
                            Account type
                        </div>
                        <div class="col-1">
                            :
                        </div>
                        <div class="col-8">
                            {{profileData.accountType}}
                        </div>
                    </div>
                    <div class="row" style="color: black; margin-top: 1%;">
                        <div class="col-3">
                            Branch code
                        </div>
                        <div class="col-1">
                            :
                        </div>
                        <div class="col-8">
                            {{profileData.bankCode}}
                        </div>
                    </div>

                    <div class="row" style="color: black; margin-top: 1%;">
                        <div class="col-3">
                            Available Balance
                        </div>
                        <div class="col-1">
                            :
                        </div>
                        <div class="col-8">
                            {{availableBalance}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- code end -->
    </div>
</div>