

<div>
    <div class="alignleft"> <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
            <input type="search" class="form-control"
                placeholder="Search by Account number/Customer name"
                (input)="searchSubject$.next($event.target.value)">
        </div></div>
    <div class="alignright"> <button mat-raised-button matTooltip="Create new
            account" (click)="newAccount()">
            <mat-icon>add</mat-icon> New Account
        </button></div>
</div>


<table class="customers">
    <tr>
        <th>Bank</th>
        <th>Branch</th>
        <th>Account Holder</th>
        <th>Account Number</th>
        <th>Account Type</th>
        <th>Branch Code</th>

        <th>Deposit</th>
        <th>Withdrawal</th>
        <th>Transactions</th>
        <th>View Balance</th>
    </tr>
    <tr *ngFor="let data of accounts">
        <td>{{data.bankName}}</td>
        <td>{{data.branch}}</td>
        <td (click)="profileView(data)" style="cursor: pointer; color: rgb(8 128 231);" matTooltip="Profile view">{{data.userAccount.name}}</td>
        <td>{{data.accountNumber}}</td>
        <td>{{data.accountType}}</td>
        <td>{{data.bankCode}}</td>

        <td><button (click)="deposit(data.id)" class="btn-align">
                Deposit
            </button></td>
        <td><button (click)="withdraw(data.id)" class="btn-align">
                Withdraw
            </button></td>
        <td><button (click)="transaction(data.id)" class="btn-align">
                Transaction
            </button></td>
        <td><button (click)="balance(data.id)" class="btn-align">
                Balance
            </button></td>
    </tr>
</table>